@{
    @model List<Responses>

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> Events </title>
    </head>

    <body>
        <h2>Events</h2>
        <table class="table table-bordered table-striped">
            <thread>
                <tr>
                    <th> Football </th>
                    <th> Basketball </th>
                    <th> Baseball </th>
                    <th> Volleyball </th>
                    <th> Marathon </th>
                    <th> Rugby </th>
                </tr>
            </thread>
            <tbody>
                    <tr>
                        <td>4 Spaces left</td>
                        <td>10 spaces left</td>
                        <td>6 spaces left</td>
                        <td>8 spaces left</td>
                        <td>9 spaces left</td>
                        <td><font color="red"> 1 space left!</font></td>
                    </tr>
            </tbody>
        </table>
    </body>
</html>
}
