@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <script>
        function myFunction() {
        document.getElementById("demo").innerHTML = "Then Click Events in the Navigation Bar";
        }
    </script>
</head>
<body>

    <h2>Welcome to Jamshid's Sports Events </h2>

    <p id="demo">
        About us: We are an events company where you can sign up
        for an event, the list of events are in the "Sporting Events" section, it will also show
        you how many spaces are available for this sport, once you've had a look, you can
        click on the "Sign Up for Events" section, enter your details and select your event!
        <br />
        Are you ready to go to the event of your life!
    </p>


    <button type="button" onclick="myFunction()">Yes!</button>

</body>
</html>

