@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        @ViewBag.Greeting: Sign Up Page
        <p> lol </p>
        <a asp-action="InputForm">Sign-Up</a>
    </div>
</body>
</html>